.App {
  text-align: center;
  display: contents;
  justify-content: center;
  align-items: center;
}

.pagination{
  margin-top: 50px;
}

.pagination button{
  padding: 10px 10px;
  margin: 10px;
}

.paginationButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.w3-container{

}